{% assign collection = collections['all'] %}
<div class="home">
    <div class="top">
        <h1 class="title">{{section.settings.title}}</h1>
        <p class="des">{{section.settings.description}}</p>
    </div>
    <div class="items">
        {% for product in collection.products %}
        <div class="item">
            <img src="{{ product.images[0] | product_img_url: 'medium' }}" alt="" class="img">
            <span class="tag"> {{product.tags[0]}}</span>
            <h1 class="itemTitle">
                {{product.title}}
            </h1>
            <p class="price">
            {{product.price | currency}}
            </p>
            <p class="description">{{product.description}}</p>
        </div>
    {% endfor %}
    </div>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": [
        {
            "id": "title",
            "label": "Title",
            "type": "text",
            "default": "Our popular products"
        },
        {
            "id": "description",
            "label": "description",
            "type": "text",
            "default": "Our popular products"
        }
    ]
  }
{% endschema %}

